

.App-logo {
  height: 80px;
  padding-bottom: 1%;
  padding-top: 2%;
  margin-top: 9%;
  margin-left: 30%;
}

.ui.big.header {
  background-color: #222;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

}

.ui.comments {
  text-align: left;
  padding-bottom: 10%;
}
.ui.fluid.image{
  padding-top: 10%
}
.App-intro {
  font-size: 18px;
}
body{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;

}

#text{
text-align: left;
}
.Item-list {
  list-style: none;
}

.ui.secondary.vertical.menu {
  margin-top: -35%;
}

.Item-list li {
  border: 1px dotted gray;
  width: 20%;
  height: 3em;  
  margin: auto;
  text-align: left;
}

 footer {
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 3%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;

} 

h3.ui.icon.center.aligned.header{
  margin-top: -8%;
}


@media (min-height: 320px) {
  .ui.footer.form-page { /* Increased specificity for SO snippet priority */
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
.column {
text-align: center;
}

.six.wide.column {
  padding-top: 18%!important;

}

.ui.menu {
  font-size: 1.3rem!important;
}

body{
  padding:40px;
}

.card{
  width:330px !important;
}

.ui.second.container{
  padding-bottom: 5%;
}

.card .image{
  background: white !important;
  width: 400px;  /* Or whatever */
  height: 300px;
  margin: auto;  /* Magic! */
  

}

